<form id="chatForm" class="form-horizontal" action="#" onsubmit="">
    <fieldset>
        <div class="form-group">
            <div class="col-md-4">
                <textarea class="form-control" id="chatBox" name="chatBox">{{message}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="send"></label>
            <div class="col-md-4">
                <button class="btn btn-info" (click)="onSend()">Send</button>
            </div>
        </div>
    </fieldset>
</form>
