<navbar></navbar>
<div class="row mt-1">
    <video style="border: 1px solid #000; width: 640px; height:  480px; position: absolute; top: 0; opacity: 1; left: 0;" #webcam autoplay></video>
		<div style="position: absolute; top: 0; left: 0; border: 1px solid red; background: rgba(255,0,0,0.3);"id="movement"></div>
    <div class="col-sm-6">
        <h6>Hello</h6>
    </div>
    <div class="col-sm-6">
        <h6>Something else</h6>
        <chatbox></chatbox>
        <button (click)="onListen()">{{listening}}</button>
    </div>
</div>
